<div class="text-center py-5">
  <h1 class="display-4 fw-bold">Bienvenue sur Gossip</h1>
  <p class="lead">Le site des rumeurs.</p>
  <%= link_to "Voir les potins", gossips_path, class: "btn btn-primary btn-lg" %>
</div>