<div class="container text-center">
  <h1 class="display-3 mt-5">L'équipe</h1>
  <p class="lead">Les créateurs derrière The Gossip Project.</p>
  <hr class="my-4">

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header">FONDATEUR</div>
        <div class="card-body">
          <h4 class="card-title">William Mahi</h4>
          <p class="card-text">Expert en rumeurs et en Ruby on Rails.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header">DÉVELOPPEUR</div>
        <div class="card-body">
          <h4 class="card-title">William Mahi</h4>
          <p class="card-text">Spécialiste des bases de données et du backend.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header">DESIGNER</div>
        <div class="card-body">
          <h4 class="card-title">William Mahi</h4>
          <p class="card-text">Responsable de l'esthétique Sketchy du site.</p>
        </div>
      </div>
    </div>
  </div>
</div>