<div class="row">
  <% @gossips.each do |gossip| %>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-primary"><%= gossip.title %></h5>
          <p class="card-text mt-3"><%= gossip.content %></p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <span class="fw-bold text-dark">Auteur : <%= gossip.user.first_name %></span>
          <%= link_to "Voir plus", gossip_path(gossip), class: "text-decoration-none fw-semibold" %>
        </div>
      </div>
    </div>
  <% end %>
</div>