/* Variables de couleurs sombres */
:root {
  --bg-color: #121212;
  --paper-color: #1e1e1e;
  --text-color: #dcdcdc;
  --margin-line: #ff4500;
  --row-line: #333333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
}

/* Aspect bloc-notes pour les cartes */
.card {
  background-color: var(--paper-color) !important;
  border: 1px solid #050505 !important;
  border-left: 5px solid var(--margin-line) !important;
  /* Ligne de marge */
  border-radius: 0 !important;
  background-image: linear-gradient(var(--row-line) 1px, transparent 1px);
  background-size: 100% 2rem;
  line-height: 2rem;
  padding-left: 10px;
}

/* Force le texte des cartes en blanc */
.card,
.card-body,
.card-title,
.card-text,
.card-header,
.card-footer {
  color: #ffffff !important;
}

/* Si Daryl est un lien (link_to), force la couleur blanche aussi */
.card a {
  color: #ffffff !important;
  text-decoration: underline;
}

/* Optionnel : Une couleur différente pour faire ressortir le nom de l'auteur */
.gossip-author {
  color: var(--margin-line) !important;
  /* Utilise ton orange vif */
  font-weight: bold;
}


/* Header et Navigation */
.navbar {
  background-color: #df6704 !important;
  border-bottom: 1px solid var(--margin-line);
}

.nav-link {
  color: var(--text-color) !important;
}

.nav-link:hover {
  color: var(--margin-line) !important;
}

/* Liens et boutons */
.btn-primary {
  background-color: transparent !important;
  border: 1px solid var(--text-color) !important;
  color: var(--text-color) !important;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: var(--text-color) !important;
  color: #e7e7e7 !important;
}

.background {
  color: rgb(10, 123, 228);
}